.menu {
  width: 26px;
  height: 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.menu > .hamburger {
  width: 100%;
  height: 4px;
  background-color: #707070;
  border-radius: 10px;
}

.menu > .hamburger::before,
.menu > .hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
}

.menu > .hamburger::before {
  top: 0;
}

.menu > .hamburger::after {
  bottom: 0;
}

.menu.-active > .hamburger {
  transform: rotate(45deg);
  background-color: #fff;
}

.menu.-active > .hamburger::before,
.menu.-active > .hamburger::after {
  transform: rotate(90deg);
  background-color: #fff;
}

.menu > .hamburger .link {
  visibility: hidden;
}
