.about-page {
  width: 100vw;
  height: 100vh;
  background-color: #3a4042;
  position: fixed;
  top: 0;
  transform: translateX(100vw);
  transition: 200ms transform ease-in-out;
}

.about-page.-active {
  transform: translateX(0);
}

.about-page > .profile {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: 110px;
  text-align: center;
}

.about-page > .profile .name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.about-page > .profile .description {
  font-size: 14px;
  line-height: 1.35;
  margin-top: 16px;
  display: inline-block;
  width: 290px;
}

.about-page > .profile .social-media {
  margin-top: 30px;
}

.about-page .social-media > .item {
  display: inline-block;
  text-align: center;
  margin-right: 16px;
}

.about-page .social-media > .item:last-child {
  margin-right: 0;
}
